POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=caselaw
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DESTINATION__POSTGRES__CREDENTIALS=postgresql://postgres:postgres@localhost:5432/caselaw
