POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=caselaw
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DESTINATION__POSTGRES__CREDENTIALS=postgresql://postgres:postgres@localhost:5432/caselaw

TJDFT_START_DATE=2026-01-01
TJDFT_END_DATE=2026-01-31
TJDFT_MAX_PAGES=
TJDFT_SUBJECT=
TJDFT_REQUEST_INTERVAL=0.5
